<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate</title>
    <div th:replace="fragments-header :: header"></div>
</head>
<body>
<div class="container">
    <h1 th:text="${number1} + ' ' + ${operation} + ' ' + ${number2} + ' = ' + ${result}"></h1>
    <form th:action="@{/calculator}" method="get">
        <button type="submit">Back to Calculator</button>
    </form>
</div>
</body>
</html>
