<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <div th:replace="fragments :: style"></div>
</head>
<body>
<div class="container">
    <h2>Online Calculator</h2>
    <form method="post" action="calculate" autocomplete="off">
        <div class="input-field">
            <label for="number1">First number:</label>
            <input type="number" id="number1" name="number1" required>
        </div>
        <div class="input-field">
            <label for="number2">Second number:</label>
            <input type="number" id="number2" name="number2" required>
        </div>
        <div class="input-field">
            <label for="operation">Operation:</label>
            <select id="operation" name="operation">
                <option value="+">Addition</option>
                <option value="-">Subtraction</option>
                <option value="*">Multiplication</option>
                <option value="/">Division</option>
            </select>
        </div>
        <form th:action="@{/calculate}" method="post">
            <button class="btn" type="submit">Calculate</button>
        </form>
    </form>
    <form th:action="@{/numbers}" method="get">
        <button class="btn" type="submit">Calculations</button>
    </form>
    <form th:action="@{/logout}" method="post">
        <button class="btn" type="submit">Sign out</button>
    </form>
    <nav>
        <div>
            <div th:text="${#authentication.principal.username}"></div>
        </div>
    </nav>
</div>
</body>
</html>
