<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <th:block th:replace="fragments-header :: header"></th:block>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="user-info">
        <p class="p-user" th:each="authority : ${#authentication.principal.authorities}">
            <span th:text="'Welcome ' + ${#authentication.principal.username} + ', your role is '"></span>
            <span th:if="${authority.authority == 'USER'}">USER</span>
            <span th:if="${authority.authority == 'ADMIN'}">ADMIN</span>
        </p>
    </div>
    <ul class="navbar-right">
        <div class="nav-btn-group">
            <form th:action="@{/numbers}" method="get">
                <button class="nav-btn" type="submit">Calculations</button>
            </form>
            <form th:action="@{/users}" method="get"
                  th:if="${#authentication.principal.authorities.?[authority == 'ADMIN'].size() > 0}">
                <button class="nav-btn" type="submit">Registered Users</button>
            </form>
            <form th:action="@{/logout}" method="post">
                <button class="nav-btn" type="submit">Sign out</button>
            </form>
        </div>
    </ul>
</nav>
<div class="container">
    <h2>Online Calculator</h2>
    <form method="post" th:action="@{/calculate}" th:object="${number}" autocomplete="off">
        <div class="input-field">
            <label> First number:
                <input type="number" name="number1" required>
                <span class="error-message" th:if="${#fields.hasErrors('number1')}" th:errors="*{number1}"></span>
            </label>
        </div>
        <div class="input-field">
            <label> Second number:
                <input type="number" name="number2" required>
                <span class="error-message" th:if="${#fields.hasErrors('number2')}" th:errors="*{number2}"></span>
            </label>
        </div>
        <div class="input-field">
            <label> Operation:
                <select name="operation" required>
                    <option value="+">Addition</option>
                    <option value="-">Subtraction</option>
                    <option value="*">Multiplication</option>
                    <option value="/">Division</option>
                </select>
            </label>
        </div>
        <button class="btn" type="submit">Calculate</button>
    </form>
</div>
<th:block th:replace="fragments-footer :: footer"></th:block>
<footer>
        <p>Online Calculator with Administrator/User Interface.<br>
            Spring MVC + Spring Boot 3 + Spring Security 6 + JPA + Hibernate + MySQL + Thymeleaf
        </p>
</footer>
</body>
</html>
