<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <div th:replace="fragments :: style"></div>
</head>
<body>
<div class="container">
    <h2>Online Calculator</h2>
    <form method="post" action="calculate" th:object="${number}" autocomplete="off">
        <div class="input-field">
            <label>First number:</label>
            <span class="error-message" th:if="${#fields.hasErrors('number1')}"
                  th:errors="*{number1}"></span>
            <input type="number" name="number1" required>
        </div>
        <div class="input-field">
            <label>Second number:</label>
            <span class="error-message" th:if="${#fields.hasErrors('number2')}"
                  th:errors="*{number2}"></span>
            <input type="number" name="number2" required>
        </div>
        <div class="input-field">
            <label>Operation:</label>
            <select name="operation" required>
                <option value="+">Addition</option>
                <option value="-">Subtraction</option>
                <option value="*">Multiplication</option>
                <option value="/">Division</option>
            </select>
        </div>
        <form th:action="@{/calculate}" method="post">
            <button class="btn" type="submit">Calculate</button>
        </form>
    </form>
    <form th:action="@{/numbers}" method="get">
        <button class="btn" type="submit">Calculations</button>
    </form>
    <form th:action="@{/logout}" method="post">
        <button class="btn" type="submit">Sign out</button>
    </form>
    <div th:if="${#authentication.principal.authorities.?[authority == 'ADMIN'].size() > 0}">
        <form th:action="@{/users}" method="get">
            <button class="btn" type="submit">Registered Users</button>
        </form>
    </div>
</div>
<div class="user-info">
    <p th:each="authority : ${#authentication.principal.authorities}">
        <span th:text="'Welcome ' + ${#authentication.principal.username} + ', your role is '"></span>
        <span th:if="${authority.authority == 'USER'}">USER</span>
        <span th:if="${authority.authority == 'ADMIN'}">ADMIN</span>
    </p>
</div>
</body>
</html>
