<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:include="header :: header"/>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Calculator</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="/numbers">All calculations</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" th:if="${#httpServletRequest.userPrincipal != null}">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
            <a href="#" onclick="document.forms['logoutForm'].submit()">Logout, <span th:text="${#httpServletRequest.userPrincipal.name}"></span></a>
        </ul>
    </div>
</nav>
</body>
</html>
