<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Numbers</title>
    <div th:replace="fragments :: style"></div>
</head>
<body>
<div class="tableContainer">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>First number</th>
                <th>Operation</th>
                <th>Second number</th>
                <th>Result</th>
                <th>Action</th>
                <th sec:authorize="hasRole('ADMIN')">Actions</th>
            </tr>
            <tr th:each="number : ${numbers}">
                <td th:text="${number.number1}"></td>
                <td th:text="${number.operation}"></td>
                <td th:text="${number.number2}"></td>
                <td th:text="${number.result}"></td>
                <td>
                    <a th:href="@{/update(id=${number.id})}">Update</a>
                    | <a th:href="@{/delete(id=${number.id})}"
                         th:onclick="if (!(confirm('Are you sure you want to delete this record?'))) return false;">Delete</a>
                    | <a th:href="@{/view(id=${number.id})}">Show</a>
                <td class="actions" sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{'/update/' + ${number.numberID}}" class="edit-link">Edit</a>
                    <a th:href="@{'/delete/' + ${number.numberId}}" class="delete-link">Delete</a>
                </td>
                </td>
            </tr>
        </table>
    </div>
</div>
<form th:action="@{/calculator}" method="get">
    <button type="submit" class="btn2">Back to Calculator</button>
</form>
</body>
</html>
