<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number</title>
    <div th:replace="fragments-header :: header"></div>
</head>
<body>
<div class="container">
    <div class="table-responsive">
        <caption>Number information</caption>
        <table class="table table-striped">
            <tr th:if="${#authentication.principal.authorities.?[authority == 'ADMIN'].size() > 0}">
                <td><b>Id:</b></td>
                <td th:text="${number.id}"></td>
            </tr>
            <tr>
                <td><b>First number:</b></td>
                <td th:text="${number.number1}"></td>
            </tr>
            <tr>
                <td><b>Operation:</b></td>
                <td th:text="${number.operation}"></td>
            </tr>
            <tr>
                <td><b>Second number:</b></td>
                <td th:text="${number.number2}"></td>
            </tr>
            <tr>
                <td><b>Result:</b></td>
                <td th:text="${number.result}"></td>
            </tr>
        </table>
    </div>
    <br>
    <form th:action="@{/numbers}" method="get">
        <button type="submit">Back</button>
    </form>
</div>
</body>
</html>
