<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Number</title>
    <div th:replace="fragments :: style"></div>
</head>
<body>
<div class="container">
    <form name="number" th:action="@{/updateNumber}" method="post">
        <input type="hidden" name="id" th:value="${number.id}">
        <div class="input-field">
            <label for="number1">First number:</label>
            <input type="number" id="number1" name="number1" th:value="${number.number1}" required>
        </div>
        <div class="input-field">
            <label for="operation">Operation:</label>
            <input type="text" id="operation" name="operation" th:value="${number.operation}"
                   style="text-align: center;" required oninput="validateOperation(event)">
        </div>
        <div class="input-field">
            <label for="number2">Second number:</label>
            <input type="number" id="number2" name="number2" th:value="${number.number2}" required>
        </div>
        <div class="input-field">
            <label for="result">Result:</label>
            <input type="number" id="result" name="result" th:value="${number.result}" required>
        </div>
        <button class="btn" type="submit">Update</button>
    </form>
    <form action="/numbers" method="get">
        <button class="btn" type="submit">Back to Numbers</button>
    </form>
</div>
<script>
    function validateOperation(event) {
        var input = event.target;
        var operationValue = input.value.trim();
        if (operationValue.length !== 1 || !'+-*/'.includes(operationValue)) {
            input.setCustomValidity('Please enter only one of the following characters: +, -, *, /');
        } else {
            input.setCustomValidity('');
        }
    }
</script>
</body>
</html>
